DEBUG: env.py is running
CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 3abcf942d511

CREATE TABLE users (
    id VARCHAR NOT NULL, 
    email VARCHAR, 
    hashed_password VARCHAR, 
    name VARCHAR, 
    role VARCHAR, 
    status VARCHAR, 
    created_at DATETIME, 
    last_login DATETIME, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

CREATE TABLE audit_logs (
    id INTEGER NOT NULL, 
    user_id VARCHAR, 
    action VARCHAR, 
    resource VARCHAR, 
    timestamp DATETIME, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_audit_logs_id ON audit_logs (id);

CREATE TABLE projects (
    id VARCHAR NOT NULL, 
    name VARCHAR, 
    description VARCHAR, 
    user_id VARCHAR, 
    created_at DATETIME, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_projects_id ON projects (id);

CREATE INDEX ix_projects_name ON projects (name);

CREATE TABLE jobs (
    id VARCHAR NOT NULL, 
    filename VARCHAR, 
    status VARCHAR, 
    progress FLOAT, 
    stage VARCHAR, 
    user_id VARCHAR, 
    project_id VARCHAR, 
    start_time DATETIME, 
    completion_time DATETIME, 
    duration FLOAT, 
    error VARCHAR, 
    output_path VARCHAR, 
    analytics VARCHAR, 
    average_fps FLOAT, 
    processing_throughput FLOAT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(project_id) REFERENCES projects (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_jobs_id ON jobs (id);

INSERT INTO alembic_version (version_num) VALUES ('3abcf942d511') RETURNING version_num;

